.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 5px grey;
}

.note {
    font-size: 18px;
    color: orange;
}

.copy_right_footer {
    position: fixed;
    color: white;
    background-color: grey;
    bottom: 0px;
    width: 100%;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 5px ridge grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}